body {
    text-align: center;
    background-color: rgb(172, 11, 102);
    color: white;
}

div {
    height: 200px;
    width: 600px;
    border: 5px solid rgb(242, 239, 239);
    border-radius: 15px;

    margin: auto;
    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 20px;
}

button {
    background-color: rgb(22, 34, 211);
    border-radius: 50px;
    color: white;
    font-weight: 900;
    padding: 0.5rem;
    border: none;
}

button:hover {
    background-color: yellow;
    box-shadow: 1px 1px black;
    color: black;
}